@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex gap-2 align-items-center">
    <a asp-action="Index" class="btn btn-dark">Wróć</a>
    <h1>Szczegóły samochodu</h1>
</div>

<ul>
    <li>@Html.DisplayNameFor(i => Model.Maker): @Model.Maker</li>
    <li>@Html.DisplayNameFor(i => Model.Name): @Model.Name</li>
    <li>@Html.DisplayNameFor(i => Model.Volume): @Model.Volume</li>
    <li>@Html.DisplayNameFor(i => Model.Power): @Model.Power</li>
    <li>@Html.DisplayNameFor(i => Model.EngineType): @Model.EngineType.GetDisplayName()</li>
    <li>@Html.DisplayNameFor(i => Model.Registration): @Model.Registration</li>
    <li>@Html.DisplayNameFor(i => Model.Owner): @Model.Owner</li>
</ul>
