@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="d-flex gap-3 align-items-center">
    <a class="btn btn-outline-info" asp-action="Index"> << Powrót</a>
    <h1>Szczegóły samochodu</h1>
</div>

<ul>
    <li>@Html.DisplayNameFor(i => Model.Maker): @Model.Maker.Name</li>
    <li>@Html.DisplayNameFor(i => Model.Name): @Model.Name</li>
    <li>@Html.DisplayNameFor(i => Model.Volume): @Model.Volume</li>
    <li>@Html.DisplayNameFor(i => Model.Power): @Model.Power</li>
    <li>@Html.DisplayNameFor(i => Model.EngineType): @Model.EngineType.GetDisplayName()</li>
    <li>@Html.DisplayNameFor(i => Model.Registration): @Model.Registration</li>
    <li>@Html.DisplayNameFor(i => Model.Owner): 
        @if (Model.Owner is not null)
        {
            <ul>
                <li>@Html.DisplayNameFor(i => Model.Owner.Name): @Model.Owner.Name</li>
                <li>@Html.DisplayNameFor(i => Model.Owner.Surname): @Model.Owner.Surname</li>
                <li>@Html.DisplayNameFor(i => Model.Owner.Phone): @Model.Owner.Phone</li>
            </ul>
        }else
        {
            <span>Brak</span>
        }
    </li>
</ul>
