@model PagingList<Car>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Lista samochodów (@Model.TotalItems)</h1>
<a class="btn btn-primary" asp-action="Create">Dodaj samochód</a>

<div class="d-flex flex-wrap gap-2 my-3">
    <a class="btn  @(ViewBag.CurrentMaker == -1 ?  "btn-success": "btn-outline-success")"
       asp-action="Index"
       asp-route-isList="@ViewBag.IsList">
        Wszystkie
    </a>
@foreach (var item in ViewBag.Makers)
{
        <a class="btn @(ViewBag.CurrentMaker == item.Id ?  "btn-success": "btn-outline-success")"
           asp-action="Index"
           asp-route-maker="@item.Id"
           asp-route-size="@Model.Size"
           asp-route-isList="@ViewBag.IsList">
           @item.Name
        </a>
}
</div>



@if (Model.Data.Count() > 0)
{
    @if (ViewBag.IsList)
    {
        <a class="btn btn-info mb-3"
           asp-action="Index"
           asp-route-page="@Model.Page"
           asp-route-size="@Model.Size"
           asp-route-maker="@ViewBag.CurrentMaker"
           asp-route-isList="false">
            Włącz kafelki
        </a>
    }
    else
    {
        <a class="btn btn-info mb-3"
           asp-action="Index"
           asp-route-page="@Model.Page"
           asp-route-size="@Model.Size"
           asp-route-maker="@ViewBag.CurrentMaker"
           asp-route-isList="true">
            Włącz listę
        </a>
    }


    @if (ViewBag.IsList)
    {

    <table class="table table-dark">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(i => Model.Data.GetEnumerator().Current.Maker)</th>
                <th>@Html.DisplayNameFor(i => Model.Data.GetEnumerator().Current.Name)</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Data)
            {
                <tr>
                    <td>   
                        @if (item.Maker is not null)
                        {   
                            @item.Maker.Name
                            
                        }else{
                            <span>@item.MakerId</span>
                        }
                    </td>
                    <td>@item.Name</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    }
    else
    {
        <div class="row row-cols-3 g-3">
            @foreach (Car item in @Model.Data)
            {
                <div>
                    <div class="card text-dark">
                        <div class="card-header fw-bold text-end">
                            <a class="btn text-danger" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-3">@item.Maker.Name @item.Name</h5>
                            <div class="d-flex flex-wrap gap-2">
                                <a class="btn btn-primary" asp-action="Update" asp-route-id="@item.Id">Edytuj</a>
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}
else
{
    <h3>Brak samochodów</h3>
}

@if(Model.TotalPages > 1){
<nav aria-label="Books page navigation" class="mt-2">
    <ul class="pagination">
        @if (Model.IsPrevious)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(Model.Page - 1)"
                   asp-route-size="@Model.Size"
                   asp-route-maker="@ViewBag.CurrentMaker"
                   asp-route-isList="@ViewBag.IsList"
                >
                    Poprzednia
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link">Poprzednia</a>
            </li>
        }
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
                <li class="page-item @(i == Model.Page ? "active" : "")">
                    <a class="page-link"
                       asp-action="Index"
                       asp-route-page="@i"
                       asp-route-size="@Model.Size"
                       asp-route-maker="@ViewBag.CurrentMaker"
                       asp-route-isList="@ViewBag.IsList">@i</a>
                </li>
        }
        @if (Model.IsNext)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-action="Index"
                   asp-route-page="@(Model.Page + 1)"
                   asp-route-size="@Model.Size"
                   asp-route-maker="@ViewBag.CurrentMaker"
                       asp-route-isList="@ViewBag.IsList">
                    Następna
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link">Następna</a>
            </li>
        }
    </ul>
</nav>
}